<p id="can_not_set_period_p">期限の設定はできません。注文期間を削除後に期限を選択することができるようになります。</p>
<%= form_tag(admin_period_path, method: :put) do %>
    <!-- start_yeatの欄に１年前があるのは、１年後の期限を誤操作で指定した時のやり直し用。-->
    <p id="period_states_form_p">注文期限:
      <%= select_date @end_time,      {disabled: true} %>
      <%= submit_tag '注文期限の設定', {disabled: true ,data: 'select_date'} %>
    </p>
<% end %>
