<span><a id="admin_period_opener" class="amazon_like_link">注文期限・期間の詳細</a></span>
<span>（ダイアログが開きます）</span>
<div id="admin_period_dialog" title="詳細">
  <h3>注文とは</h3>
  <p>ユーザーが、管理者にネスレから購入してほしいお茶を選択することと、選択したことを取り消すことです。<br>
  <h3>注文期間とは</h3>
  <p>「注文」ができる期間のことです。<br>
  注文期間の開始日は、注文期限を設定した日が自動的に設定されます。</p>
  <h3>注文期限とは</h3>
  <p>注文期間の終了日のことです。</p>
</div>
