<% if @period.include_now? %>
  <p>現在の注文期間は<%= l(@period.end_time) %>までです。</p>
<% elsif @period.out_of_date? %>
  <p>注文期間は<%= l(@period.end_time) %>まででした。</p>
<% else %>
  <p>注文期間が設定されていません。</p>
  <p>ユーザーが注文をするために、管理者が注文期限を設定することが必要です。</p>
  <p><%= link_to 'このサイトに登録した商品' %>が<%= about_page_link %>のものと合っていることを確かめた後に<br>
    注文期限を設定してください。</p>
<% end %>
