<h2 class="main_content_caption order_show_cap" >注文期間の状況: 未設定</h2>
<p>注文期限が設定されていません。 <%= render 'period_dialog' %></p>
<p><%= current_user.name %>さんがお茶を注文をするためには、管理者に依頼して注文期限を設定してもらうことが必要です。<br>
以下の文章をコピーしてidobataに貼り付けると、簡単に依頼ができます。</p>
<div id="request_to_set_period">
  <%= text_area_tag(
'fe_text',
"@#{User.latest_admin_user_name.presence || 'onionSoup'}
お茶を注文したいので注文期間を設定してください。",
rows: 5, cols: 40
  ) %>
<div id="copy_tooltip_wraper">
  <button data-clipboard-target='fe_text' id='d_clip_button'>
    copy
  </button>
  <div class="copy_tooltip">クリップボードにコピーできます。</div>
</div>
