<span class='dialog_link'><a id='order_opener'>注文の詳細</a></span>
<span>（ダイアログが開きます）</span>
<div id="order_dialog" title="注文の詳細">
  <h3 class='dialog_subtitle'>注文とは</h3>
  <p>このサイトの管理者の社員に、ネスレから代理購入して欲しいお茶を伝えることです。</p>
  <h3 class='dialog_subtitle'>注文可能前の状態</h3>
  <p>募集待ちとは、注文期間(<%= link_to 'ページ内リンク', '#period_link_fragment_id' %>)が設定されていない時の状態です。この時注文はできません。</p>
  <h3 class='dialog_subtitle'>注文後の流れ</h3>
  <ol>
    <li>発注<br>
      注文期間(<%= link_to 'ページ内リンク', '#period_link_fragment_id' %>)終了以降に管理者がお茶を購入します。
    </li>
    <li>発送<br>
      ネスレから支社にお茶が届きます。
    </li>
    <li>引換<br>
      注文したユーザーは、管理者の社員にお金を払います。同時にお茶を受け取ります。
    </li>
  </ol>
</div>
