<span class='dialog_link'><a id='period_opener'>注文期間の詳細</a></span>
<span>（ダイアログが開きます）</span>
<div id="period_dialog" title="注文期間の詳細">
  <h3 class='dialog_subtitle'>注文期間とは</h3>
  <p>ユーザーが自由に注文を追加・削除できる期間のことです。<br>
  注文期間がすぎてしまったか、注文期間が設定されていない場合は、<br>
  ユーザーは注文を追加・削除できません。<br>
  <h3 class='dialog_subtitle'>変更できなくなる理由</h3>
  <p>注文期間が過ぎたあとは、管理者はネスレからの購入を行います。</p><br>
  <p>管理者がネスレから購入を安全に行うためとユーザーとの引換を正しく行うために、注文が確定している必要があるためです。</p>
  <h3 class='dialog_subtitle'>注文期間は誰が設定するか</h3>
  <p>管理者が設定します。<br>
  注文期間が未設定の時にお茶を注文したい場合は、idobataなどで管理者に連絡してください。</p>
</div>
