<!--headerは後でパーシャルに置く -->


<div class="order_new_content">
	<div id="order_new_select">
		<h2>ほしいお茶と数を選択してください</h2>
		<p id="same_quantity"><input type="checkbox" >前回と同じ注文を指定</p>
		<div id="select_caption">
	  	<p><span id="name_and_price">品名と単価</span><span id="quantity">数量</span></p>
		</div>

		<div class="float_wrap">
			<div id="tea_and_quantity_select">
				<div class="tea_select">
					<select id="tea_select">
						<%= options_for_select(item_name_price) %>
					</select>
					<select id="number_select">
						<option>0個</option>
						<option>1個</option>
						<option>2個</option>
					</select>
				</div>

				<div class="tea_select">
					<select id="tea_select">
						<%= options_for_select(item_name_price) %>
					</select>
					<select id="number_select">
						<option>0個</option>
						<option>1個</option>
						<option>2個</option>
					</select>
				</div>

				<div class="tea_select">
					<select id="tea_select">
						<%= options_for_select(item_name_price) %>
					</select>
					<select id="number_select">
						<option>0個</option>
						<option>1個</option>
						<option>2個</option>
					</select>
				</div>
		  </div><!--tea_and_number_and_quantity_select-->

			<div id="fixedness">
				<div id="fixedness_inner">
	 	  		<div id="sum">小計:0円</div>
		  		<button type="button">注文を確定する</button>
		  	</div>
			</div>
		</div><!-- float wrap -->
		<div class="clear">
		</div>
	</div><!-- div#select -->
</div><!-- div.content -->


<div class="footer">
	<p>詳しい商品情報は
		<a href="https://shop.nestle.jp/front/app/cart/collect_cart/init/00000000/SpecialTCapsule/">ネスレ通販のサイト</a>を参照してください。
	</p>
<div>
