<div class="general_user_flex">
  <%= render "application/general_user_side_nav" %>
  <div>
    <div id="show_order_content">
      <% if  current_user.order.order_details.present? %>
        <%= render "nonblank_order" %>
     <% else %>
       <%= render "blank_order" %>
     <% end %>
    </div>
  </div>
</div>
