<p id="p_for_register_to_order_button">ユーザーが商品を注文に追加すると、<br>
商品ごとの発注数量と金額の一覧表が見れるようになります。<br>
その一覧表を元に<%= about_page_link %>で注文ができます。</p>
<p>またネスレに発注したことをボタンを押して登録することができます。</p>
<%= form_for :order, url: order_registered_path, method: :post do |f| %>
  <%= f.submit '注文の完了をシステムに登録',
               {data: {confirm: '本当に注文完了を登録してもよろしいですか？'},
                disabled: true} %>
<% end %>
