<h2 id="explain_state_in_show_order" class="main_content_caption">
  注文の状況: 未注文
</h2>
<p><%= current_user.name %>さんは、お茶を注文していません。</p>
<h2 id="history_subtitle_in_orders_show" class="main_content_caption">
  <%= current_user.name %>さんの注文するもの
</h2>
<p>お茶を注文した場合、ここに一覧表が表示されます。</p>
<%= content_tag :p,
                '追加したい商品と個数を選んで、「追加する」ボタンを押してください',
                id: id_of_p_to_add_details(current_user.order) %>
<%= render 'application/add_details_form',
           {url: mock_path} %>
