#for_specify_dom {
  #accordion_postage_label {
    margin-left: 2em;
    display: inline-block;
    border: solid thin #dcdcdc;
  }

  #accordion_postage_label:hover {
    background: #dcdcdc;
  }

  #accordion_postage_content {
    margin-left: 2em;
    border: solid thin #dcdcdc;
    p {
      margin: 0;
    }
  }
}
