//AdminOrderDetails#index
div#change_order_box_in_admin_order_details_index {
  margin-top: 4em;
}
div.contents_box_in_admin_order_details_index {
  margin-left: 2em;
}
h2.sub_title_in_admin_order_details_index {
  margin-bottom: 2em;
}
