nav#admin_side_nav {
  display: block;
  border: thin solid #dcdcdc;
  border-radius: 8px;
  margin-right: 5em;
  height: 60%;
  margin-top: 3em;
  h2 {
    font-size: 1.17em;
    color: #edad08;
    text-align: center;
  }
  ul#menu {
    width: 12em;
    margin: 0;
    padding: 0;
    li {
      margin-left: 0;
      padding: 1em;
      list-style: none;
      a {
        color: #007ab7;
        text-decoration: none;
      }
      a:hover {
        color: #edad0b;
        text-decoration: underline;
      }
    }
  }
  li.include_ul {
    position: relative;

    ul.inner_ul {
      display: none;
      position: absolute;
      top:  0;
      left: 12em;
      width: 12em;
      background: #ffffff;
      border: solid thin #dcdcdc;
      z-index: 2;
    }

    ul#enabled_ul {
      display: block;
      padding: 0;
<<<<<<< HEAD
      border: thin solid #dcdcdc;
      border-radius: 8px;
=======

>>>>>>> efa424fc775d70988966f58de2bea84c4a3c5e51
      li {
        margin: 1em;
        padding: 0;
      }
    }
    ul#disabled_ul {
      display: none;
    }
  }
  li.include_ul:hover {
    background: linear-gradient(#f9f9f9, #f3f3f3);
  }
  .arrow_icon {
    position: absolute;
    bottom: 1.1em;
    right: 0.5em;
    margin-left: 1em;
  }
}

<<<<<<< HEAD
=======

>>>>>>> efa424fc775d70988966f58de2bea84c4a3c5e51
.ui-menu {
  width: 12em;
}

ul#menu {
  border: none;
}
