.admin_version {
  #state_bar_second_row {
    #cart_target {
      border-color: #3EBA2B;
    }
  }

  #cart_target {
    .state {
      color: #3EBA2B;
    }
  }
  #before_target, #cart_target {
    border-color: #3EBA2B;
  }
}

#what_admin_shold_do_title {
  margin-top: 4em;
}
