table.admin_order_table tr:first-child {
  background: #e3eaf6;
}

table.admin_order_table tr:nth-child(2n+3) {
  background: #f9f9f9;
}

table.admin_order_table tr:first-child th {
  padding-top: 0.6em;
  text-align: center;
}

table.admin_order_table {
  border: thin solid #dcdcdc;
}

table.admin_order_table td.name {
  padding: 0.4em 0.6em 0;
}

table.admin_order_table td.price {
  padding: 0 0 0 3em;
  text-align: right;
}

table.admin_order_table td.sum {
  text-align: right;
}

table.admin_order_table div.inner_table {
  display: flex;
  justify-content: space-between;
}

p#payment {
  border: thin solid #dcdcdc;
  border-radius: 8px;
  margin-left: 3em;
  padding: 1em;
  height: 2em;
}

table.users_table_in_admin_orders_pages td:nth-child(n+2) {
  border-left: dotted thin #dcdcdc;
}

table.users_table_in_admin_orders_pages div.inner_table:nth-child(even) {
  background: #f3f3f3;
}

table.users_table_in_admin_orders_pages tr:nth-child(odd) div.inner_table:nth-child(even) {
  background: #ececec;
}

#h3_on_users_table_in_admin_orders_pages{
  padding-top: 2em;
}

//arrived
table.arrived_table td:nth-child(n+2) {
  border-left: dotted thin #dcdcdc;
}

table.arrived_table div.inner_table:nth-child(even) {
  background: #f3f3f3;
}

table.arrived_table tr:nth-child(odd) div.inner_table:nth-child(even) {
  background: #ececec;
}
