
nav#admin_side_nav {
  display: block;
  border: thin solid #dcdcdc;
  border-radius: 8px;
  margin-right: 5em;
  height: 60%;
}

nav#admin_side_nav h3{
  padding-left: 0.1em;
  color: #EDAD0B;
}
nav#admin_side_nav ul {
  margin: 0;
  padding: 0;
}

nav#admin_side_nav ul li {
  margin-left: 1em;
  padding: 1em 1em 1em 0;
  list-style: none;
}

nav#admin_side_nav ul li a {
  color: #007AB7;
  text-decoration: none;
}

nav#admin_side_nav ul li a:hover {
  color:#EDAD0B;
  text-decoration: underline;
}