div#admin_flex_box {
  display: flex;
}

div#admin_flex_box h3 {
  border-bottom: solid thin #dcdcdc;
}

div#admin_show_time_limit_display div {
  margin-left: 4em;
}

div#admin_show_time_limit_display a {
  color: #007AB7;
}

div#admin_show_time_limit_display a:hover {
  color:#EDAD0B;
}

div#nestle_input_sheet {
  padding-top: 3em;
}

div#nestle_input_sheet p {
  margin-left: 2em;
}

div#nestle_input_sheet_flex_box {
  display: flex;
  align-items: flex-start;
  margin-top: 2em;
  margin-left: 2em;
}

table#admin_order_table tr:first-child {
  background: #E3EAF6;
}

table#admin_order_table tr:nth-child(2n+3) {
  background: #f5f5f5;
}

table#admin_order_table tr:first-child th{
  padding-top:0.6em;
  text-align: center;
}

table#admin_order_table {
  border: thin solid #dcdcdc;
}

table.exchange_table td:nth-child(n+2){
  border-left: dotted thin #dcdcdc
}

table#admin_order_table td.name {
  padding:  0.4em 4em 0 2em;
}

table#admin_order_table td.price {
  padding: 0 0 0 3em;
  text-align: right;
}

table#admin_order_table td.sum {
  text-align: right;
}

table#admin_order_table div#inner_table {
  display: flex;
  justify-content: space-between;
}

table.exchange_table div#inner_table:nth-child(even) {
  background: #f5f5f5;
}

p#payment {
  border: thin solid #dcdcdc;
  border-radius: 8px;
  margin-left: 3em;
  padding: 1em;
  height: 2em;
}


