.dialog_link {
  color: #007ab7;
  text-decoration: none;
}

.dialog_link:hover {
  color: #edad0b;
  text-decoration: underline;
}

h3.dialog_subtitle {
  font-size: 1.17em;
}

#order_dialog {
  a {
    color: #007ab7;
  }
}
