div.general_user_flex {
  display: -webkit-flex;
  display: flex;
}

nav#general_user_side_nav {
  display: block;
  border: thin solid #dcdcdc;
  border-radius: 8px;
  margin-right: 5em;
  height: 60%;
  margin-top: 2em;
  h2 {
    color: #edad0b;
    font-size: 1.17em;
    text-align: center;
    margin-right: 1em;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    margin-left: 1em;
    padding: 1em 1em 1em 0;
    list-style: none;
  }
  a {
    color: #007ab7;
    text-decoration: none;
  }
  a:hover {
    color: #edad0b;
    text-decoration: underline;
  }
}
