// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//show
h3#explain_state_in_show_order {
  margin: 0 0 2em;
  border-bottom: solid thin #c8c8c8;
  width: 20em;
}

div#show_order_content {
  margin-top: 3.2em;
  p {
    margin-left: 2em;
    line-height: 2.2em;
  }
}

