//show
#explain_state_in_show_order {
  margin: 0 0 1em;
  width: 20em;
}

div#show_order_content {
  margin-top: 3.2em;
  p {
    margin-left: 2em;
    line-height: 2.2em;
  }
  form {
    margin-left: 2em;
  }
}

#history_subtitle_in_orders_show {
  margin: 2em 0 1em;
  width: 20em;
}

.order_show_cap {
  margin: 3em 0 2em;
}

.disabled_delete_link {
  color: gray;
  text-decoration: underline;
  text-align: center;
}

#order_dialog_wrapper {
  margin: 3em 0 0 2em;
}
