.admin_periods_content {
  margin-left: 2em;
  #period_states_form_p {
    margin: 2em 0 2em;
  }
}

.confirm_period_in_show {
  margin-bottom: 2em;
}

.set_period_in_show {
  margin: 3em 0 2em;
}

#disabled_destory_period_p{
  margin-top: 3.5em;
}
