div#show_period_notices_content {
  margin-top: 3.2em;
  p {
    margin-left: 2em;
    line-height: 2.2em;
  }
}

#sub_title_of_show_period_notice {
  margin: 0 0 1em;
  width: 20em;
}

#title_for_request_to_set_period {
  margin: 2em 0 1em;
  width: 20em;
}

#request_to_set_period {
  margin: 2em 0 0 2em;
}
