// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Sessions#new.html.erb
h2#sessions_new_title {
  margin-top: 3em;
}

div#sessions_new_main_content {
  margin: 3em 0 0 3em;
  padding: 0 0 4em;
}

p#sessions_prompt_register {
  padding-top: 1em;
  margin-top: 3em;
}
