// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//users#new.html.erb
h2#users_new_title {
  font-size: 1.17em;
  border-bottom: solid thin #c8c8c8;
  margin-top: 3em;
}

div#users_new_main_content {
  margin: 3em 0 0 3em;
}

p#users_new_invalid_alert {
  background-color: #eeadb5;
  color: #c1091f;
  width: 40%;
  text-align: center;
}
