// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//users#new.html.erb
h2#users_new_title {
	font-size: 1.9em;
	margin-top: 1em;
	margin-left: 1em;
  width: 40%;
  border-bottom: solid thin #c8c8c8;
}

div#users_new_main_content {
	margin-top: 3em;
  margin-left: 5em;
}


