<% target   = admin_cart_position %>
<% explains = Order.admin_cart_position_names %>
<div id='status_bar' class='admin_version'>
  <% if target.kind_of?(Integer) %>
      <%= render 'bar_enable_first', target: target, explains: explains %>
  <% else %>
    <%= render 'bar_enable_second', target: target, explains: explains %>
  <% end %>
</div>
