<div id="admin_table_wrapping_box">
  <div class="admin_orders_table_and_p_wrapper">
    <table class="admin_order_table all_user_sum_table">
      <tr>
        <th>商品名</th>
        <th>単価</th>
        <th>合計数量</th>
      </tr>
      <tr>
        <td class="name">該当するお茶がありません</td>
        <td class="price">0円</td>
        <td class="sum">0円</td>
      </tr>
    </table>
    <p>
      <span id='order_details_index_sum_jp'>合計</span>
      <span id='detail_sum_yen'>0円</span>
    </p>
  </div>
</div>
