<!--今はいらない。でも、無いとデザイン的に浮くし、大改造が必要。しかも将来的にはいろいろ置くはず。-->
<nav id="general_user_side_nav">
  <h2>トピック</h2>
  <ul>
    <% if logged_in? %>
      <li><%= link_to '注文画面', order_path %></li>
      <li><%= link_to 'ユーザー名変更', edit_user_path(current_user) %></li>
    <% else %>
      <li><%= link_to '新規ユーザー登録', new_user_path %></li>
      <li><%= link_to 'ログイン',        login_path %></li>
    <% end %>
  </ul>
</nav>
