<nav id="admin_side_nav">
  <h3>トピック</h3>
  <ul>
    <li style="display: none;"><%= link_to 'ガイド', '#' %></li>
    <li><%= link_to 'ネスレ入力用シート', registered_orders_path %></li>
    <li><%= link_to 'ネスレ発送まち情報', undispatched_orders_path %></li>
    <li><%= link_to '引換用ページ', arrived_orders_path %></li>
  </ul>
</nav>
