<nav id="general_user_side_nav">
  <h3>トピック</h3>
  <ul>
    <li><%= logout_or_login %></li>
    <li><%= link_to '新規ユーザー登録', new_user_path %></li>
    <% if signed_in? %>
      <li><%= link_to '注文作成・変更', edit_order_path %></li>
      <li><%= link_to '管理者用ページ', registered_path %></li>
    <% end %>
  </ul>
</nav>
